[buildout]

# makes sure you're not running buildout as root.
extensions =
    buildout.sanitycheck

extends =
    base.cfg
    http://dist.plone.org/release/6.0.0a1/versions.cfg


find-links +=
    http://dist.plone.org/release/6.0.0a1


eggs =
    Plone
    Pillow


zcml =
#    plone.reload


develop =
#    src/my.package


var-dir=${buildout:directory}/var
backups-dir=${buildout:var-dir}
user=admin:admin
deprecation-warnings = off
verbose-security = off


parts =
    instance
    repozo
    backup
    zopepy
    vscode


[instance]
<= instance_base
recipe = plone.recipe.zope2instance
http-address = 127.0.0.1:8080


[versions]
